i.material-header {
    color: #767676;
    margin-left: 20px;
}
h3.title {
    margin-left: 15px;
}
.panel {
    width: 90%;
    margin: 30px 5%;
}
mat-list {
    width: 100%;
}
mat-list-item {
    width: 90%;
    margin: 0 5%;
    border-bottom: 1px solid #e5e5e5;

}
mat-form-field {
    font-size: 14px;
    width: 140px;
    margin-right: 1.25em;
    margin-bottom: -1.25em;
}
