<script src="droppacks_resovle.component.ts"></script>
<mat-list>
    <mat-list-item>
        <ul>
            <li class="title"><h4 >创建日期</h4></li>
            <li class="date"><h4 >投放包名称</h4></li>
            <li class="edit"><h4 >推广品牌</h4></li>
            <li class="edit"><h4 >素材持有者</h4></li>
            <li class="edit"><h4 >审核状态</h4></li>
        </ul>
    </mat-list-item>
    <mat-list-item *ngFor="let droppack of droppacks;let i=index">
        <ul>
            <li class="title">{{droppack.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</li>
            <li class="date">{{droppack.packname}}</li>
            <li class="edit">{{droppack.brand}}</li>
            <li class="edit">{{droppack.intid.nickname}}</li>
            <li class="edit">
                <button mat-raised-button color="primary" (click)="droppackVerified(i,droppack)">通过审核</button>
                <button mat-raised-button color="accent" (click)="rejectDroppack(i,droppack)">不通过</button>
            </li>
        </ul>
    </mat-list-item>
</mat-list>
