<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>素材审核</h3>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li role="presentation" [class.active]="reject" (click)="selectResolve()"><a >未审核</a></li>
                <li role="presentation" [class.active]="!reject" (click)="selectReject()"><a >已审核</a></li>
            </ul>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="row">
                            <div class="col-md-1">
                                <button class=" btn btn-primary navbar-btn pass">批量通过</button>
                            </div>
                            <div class="col-md-11">
                                <form class="form-inline searchForm" [formGroup]="searchForm">
                                    <div class="form-group">
                                        <input type="date" class="form-control" formControlName="date" (change)="searchMaterial()">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" formControlName="position" (change)="searchMaterial()">
                                            <option>位置</option>
                                            <option *ngFor="let position of showPositions" [value]="position.value">{{position.viewValue}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" formControlName="type" (change)="searchMaterial()">
                                            <option>类型</option>
                                            <option *ngFor="let type of types" [value]="type.value">{{type.viewValue}}</option>
                                        </select>
                                    </div>
                                    <input type="text" class="form-control" placeholder="输入素材名称" (input)="searchMaterialByName($event)">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<table class="table table-striped" *ngIf="reject">
    <tr>
        <td>创建日期</td>
        <td>素材名称</td>
        <td>素材位置</td>
        <td>素材持有者</td>
        <td>操作</td>
    </tr>
    <tr *ngFor="let material of materialResovle;let i=index">
        <td>{{material.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{material.name}}</td>
        <td>{{material.position}}</td>
        <td>{{material.intid.nickname}}</td>
        <td>
            <button class="btn btn-success" data-toggle="modal" data-target="#myModal" (click)="materialVerified(i,material)" >通过审核</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#rejectModel" (click)="materialVerified(i,material)">不通过</button>
        </td>
    </tr>
</table>

<table class="table table-striped" *ngIf="!reject">
    <tr>
        <td>创建日期</td>
        <td>素材名称</td>
        <td>素材位置</td>
        <td>素材持有者</td>
        <td>审核状态</td>
    </tr>
    <tr *ngFor="let material of materials;let i=index">
        <td>{{material.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{material.name}}</td>
        <td>{{material.position}}</td>
        <td>{{material.intid.nickname}}</td>
        <td>
           <span *ngIf="material.verified == 1"> 已通过</span>
           <span *ngIf="material.verified == 2"> 未通过</span>
        </td>
    </tr>
</table>
<materials-page
    [verified]="verified"
></materials-page>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="material != null">
            <div class="modal-header">
                {{material?.name}}
                {{material.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>展示位置：{{material?.position}}</p>
                <div>
                    <img *ngIf="material.type == 'image'" [src]="path +material.url" class="showImg">
                    <video  *ngIf="material.type == 'video'" controls="controls" class="showImg">
                        <source [src]="path + material.url"  />
                    </video>
                </div>

                <p>素材内容:{{material?.content}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="passMaterial(material)">通过验证</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectModel" data-dismiss="modal">不通过</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="rejectModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="material != null">
            <div class="modal-header">
                {{material?.name}}：拒绝原因
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" [formGroup]="materialForm">
                <textarea class="form-control" rows="3" formControlName="writeInfo"></textarea>
                <select class="form-control" formControlName="selectInfo">
                    <option>选择原因</option>
                    <option *ngFor="let info of rejectInfo" [value]="info.value">{{info.value}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="rejectMaterial()">不通过</button>
            </div>
        </div>
    </div>
</div>