<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>广告商审核</h3>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li role="presentation" [class.active]="reject" (click)="selectResolve()"><a>未审核</a></li>
                <li role="presentation" [class.active]="!reject" (click)="selectReject()"><a>已审核</a></li>
            </ul>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class=" btn btn-primary navbar-btn">批量通过</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<table class="table table-striped" *ngIf="reject">
    <tr>
        <td>提交时间</td>
        <td>类型</td>
        <td>名称</td>
        <td>推广品牌</td>
        <td>操作</td>
    </tr>
    <tr *ngFor="let setup of setups | filter: 'verified':0;let i=index " >
        <td>{{setup.createTime | date :'yyyy-MM-dd HH:mm:ss'}}</td>
        <td >
            <span *ngIf="setup.idtype == 0">个人</span>
            <span *ngIf="setup.idtype == 1">公司</span>
        </td>
        <td>{{setup.name}}</td>
        <td>{{setup.brand}}</td>
        <td>
            <button class="btn btn-success" data-toggle="modal" data-target="#myModal" (click)="resovle(i,setup)">通过审核</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#rejectModel"  (click)="resovle(i,setup)">不通过</button>
        </td>

    </tr>
</table>

<table class="table table-striped" *ngIf="!reject" #reject>
    <tr>
        <td>提交时间</td>
        <td>类型</td>
        <td>名称</td>
        <td>推广品牌</td>
        <td>审核状况</td>
    </tr>
    <tr *ngFor="let setup of setups | filter:'verified':1; let i=index" >
        <td>{{setup.createTime | date :'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>
            <span *ngIf="setup.idtype == 0">个人</span>
            <span *ngIf="setup.idtype == 1">公司</span>
        </td>
        <td>{{setup.name}}</td>
        <td>{{setup.brand}}</td>
        <td>
            <span *ngIf="setup.verified == 1">审核通过</span>
            <span *ngIf="setup.verified != 1">审核未通过</span>
            <!--<button class="btn btn-success" data-toggle="modal" data-target="#myModal" (click)="resovle(i,setup)">通过审核</button>-->
            <!--<button class="btn btn-danger" data-toggle="modal" data-target="#rejectModel"  (click)="resovle(i,setup)">不通过</button>-->
        </td>

    </tr>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="setup != null">
            <div class="modal-header">
                {{setup?.name}}
                {{setup.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>主体类型：
                    <span *ngIf="setup.idtype == 0">个人</span>
                    <span *ngIf="setup.idtype == 1">公司</span>
                </p>
                <p>推广品牌： {{setup?.brand}}</p>
                <p>
                    <span *ngIf="setup.idtype == 0">身份证号</span>
                    <span *ngIf="setup.idtype == 1">营业执照编号</span>
                    ： {{setup?.idcard}}
                </p>
                <p>推广品牌： {{setup?.brand}}</p>
                <p>手机号： {{setup?.phone}}</p>
                <p>E-mail： {{setup?.email}}</p>
                <div>
                    <p>推广品牌logo:</p>
                    <img [src]="path +setup.brandlogo" class="showImg">
                </div>
                <div>
                    <p><span *ngIf="setup.idtype == 0">身份证</span></p>
                    <p><span *ngIf="setup.idtype == 1">营业执照</span></p>
                    <img *ngFor="let idphoto of setup.idphoto" [src]="path + idphoto.photo" alt="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="resovleSetup()">通过验证</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectModel" data-dismiss="modal">不通过</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="rejectModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="setup != null">
            <div class="modal-header">
                {{setup?.name}}：拒绝原因
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" [formGroup]="setupForm">
                <textarea class="form-control" rows="3" formControlName="writeInfo"></textarea>
                <select class="form-control" formControlName="selectInfo">
                    <option>选择原因</option>
                    <option *ngFor="let info of rejectInfo" [value]="info.value">{{info.value}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="rejectSetup()">不通过</button>
            </div>
        </div>
    </div>
</div>