<div class="container-fluid" [style.height]="height">
    <div class="row menu">
        <div class="col-md-2 nav-left">
            <h3>广告宝</h3>
            <h5>投放管理平台</h5>
            <nav>
                <ul>
                    <li routerLink="setups">广告商审核</li>
                    <li routerLink="material">素材审核</li>
                    <li routerLink="sticker">贴片审核</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>