<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>投放包审核</h3>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li role="presentation" [class.active]="reject" (click)="selectResolve()"><a >未审核</a></li>
                <li role="presentation" [class.active]="!reject" (click)="selectReject()"><a >已审核</a></li>
            </ul>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="row">
                            <div class="col-md-1">
                                <button class=" btn btn-primary navbar-btn pass">批量通过</button>
                            </div>
                            <div class="col-md-11">
                                <form class="form-inline searchForm" [formGroup]="searchForm">
                                    <div class="form-group">
                                        <input type="date" class="form-control" formControlName="date" (change)="searchMaterial()">
                                    </div>
                                    <input type="text" class="form-control" placeholder="输入投放包名称" (input)="searchMaterialByName($event)">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<table class="table table-striped" *ngIf="reject">
    <tr>
        <td>创建日期</td>
        <td>投放包名称</td>
        <td>推广品牌</td>
        <td>素材持有者</td>
        <td>操作</td>
    </tr>
    <tr *ngFor="let droppack of droppackResovle;let i=index">
        <td>{{droppack.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{droppack.packname}}</td>
        <td>{{droppack.brand}}</td>
        <td>{{droppack.intid.nickname}}</td>
        <td>
            <button class="btn btn-success" data-toggle="modal" data-target="#myModal" (click)="droppackVerified(i,droppack)" >通过审核</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#rejectModel" (click)="droppackVerified(i,droppack)">不通过</button>
        </td>
    </tr>
</table>

<table class="table table-striped" *ngIf="!reject">
    <tr>
        <td>创建日期</td>
        <td>投放包名称</td>
        <td>推广品牌</td>
        <td>素材持有者</td>
        <td>审核状态</td>
    </tr>
    <tr *ngFor="let droppack of droppacks;let i=index">
        <td>{{droppack.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{droppack.packname}}</td>
        <td>{{droppack.brand}}</td>
        <td>{{droppack.intid.nickname}}</td>
        <td>
            <span *ngIf="droppack.verified == 1"> 已通过</span>
            <span *ngIf="droppack.verified == 2"> 未通过</span>
        </td>
    </tr>
</table>
<droppacks-page
        [verified]="verified"
></droppacks-page>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="droppack != null">
            <div class="modal-header">
                投放包名称：{{droppack?.packname}}<br>
                创建时间：{{droppack.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>推广品牌：{{droppack?.brand}}</p>
                <div>
                    <img [src]="path +droppack.brandlogo" class="showImg">
                </div>
                <div class="configInfo">
                    <ul class="nav nav-tabs configInfo-tab">
                        <li role="presentation" [class.active]="config == 'community'" (click)="selectConfig('community')"><a>社区</a></li>
                        <li role="presentation" [class.active]="config == 'interaction'" (click)="selectConfig('interaction')"><a>互动</a></li>
                        <li role="presentation" [class.active]="config == 'result'" (click)="selectConfig('result')"><a>结果</a></li>
                    </ul>
                </div>
                <div class="droppack-config" *ngIf="configInfo">
                    <div class="community" *ngIf="config == 'community'">
                        <div class="community-video">
                            <p>video:</p>
                            <video *ngFor="let video of configInfo.community.video" controls="controls" class="showVideo">
                                <source [src]="path + video.value"  />
                            </video>
                        </div>
                        <div class="community-banner">
                            <p>banner:</p>
                            <img *ngFor="let banner of configInfo.community.banner" alt="" [src]="path + banner.value">
                        </div>
                    </div>
                    <div class="interaction" *ngIf="config == 'interaction'">
                        <div class="interaction-item" *ngIf="">
                            <p>activity:</p>
                            <p>{{configInfo.interaction.activity.name}}</p>
                            <div class="radio" *ngFor="let item of configInfo.interaction.activity.items">
                                <label>
                                    <input type="radio" name="optionsRadios"  value="option1" [checked]="item.answer == 1">
                                    {{item.item_id}} {{item.item_content}}
                                </label>
                            </div>
                        </div>
                        <div class="interaction-video">
                            <p>video:</p>
                            <video *ngFor="let video of configInfo.interaction.video" controls="controls" class="showVideo">
                                <source [src]="path + video.value"  />
                            </video>
                        </div>
                        <div class="interaction-banner">
                            <p>background:</p>
                            <img *ngFor="let bg of configInfo.interaction.background" alt="" [src]="path + bg.value">
                        </div>
                    </div>
                    <div class="result" *ngIf="config == 'result'">
                        <div class="result-bg">
                            <p>banner:</p>
                            <img *ngFor="let banner of configInfo.result.banner" alt="" [src]="path + banner.value">
                        </div>
                        <div class="result-banner">
                            <p>background:</p>
                            <img *ngFor="let bg of configInfo.result.background" alt="" [src]="path + bg.value">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="passDroppack(droppack)">通过验证</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectModel" data-dismiss="modal">不通过</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="rejectModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="droppack != null">
            <div class="modal-header">
                {{droppack?.packname}}：拒绝原因
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" [formGroup]="materialForm">
                <textarea class="form-control" rows="3" formControlName="writeInfo"></textarea>
                <select class="form-control" formControlName="selectInfo">
                    <option>选择原因</option>
                    <option *ngFor="let info of rejectInfo" [value]="info.value">{{info.value}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="rejectDroppack()">不通过</button>
            </div>
        </div>
    </div>
</div>