
<mat-list>
    <mat-list-item>
        <ul>
            <li class="date"><h4 >起止日期</h4></li>
            <li class="name"><h4 >贴片名称</h4></li>
            <li class="type"><h4 >贴片金额</h4></li>
            <li class="brand"><h4 >贴片持有者</h4></li>
            <li class="state"><h4 >审核状态</h4></li>
            <li class="edit"><h4 >操作</h4></li>
        </ul>
    </mat-list-item>
    <mat-list-item *ngFor="let sticker of stickers;let i=index">
        <ul>
            <li class="date">{{sticker.startDate | date: 'yyyy-MM-dd'}} ~ {{sticker.endDate | date: 'yyyy-MM-dd'}}</li>
            <li class="name">{{sticker.materialid.name}}</li>
            <li class="type">{{(sticker.total/100).toFixed(2)}}</li>
            <li class="brand">{{sticker.intid.nickname}}</li>
            <li class="state">
                <button mat-button color="primary" *ngIf="sticker.verified == 1">通过</button>
                <button mat-button color="accent" *ngIf="sticker.verified != 1">未通过</button>
                <button mat-button color="warn" (click)="stickerVerified(i,sticker)">查看</button>
                <!--<button mat-button color="warn" *ngIf="sticker.verified == 1" (click)="stopSticker(sticker)">贴片停用</button>-->
            </li>
            <li class="edit">
                <button mat-raised-button color="warn" [disabled]="sticker.isStart == 0" (click)="stopSticker(sticker)">停用</button>
                <button mat-raised-button color="primary" [disabled]="sticker.isStart == 1" (click)="startSticker(sticker)">启用</button>
            </li>
        </ul>
    </mat-list-item>
</mat-list>

<!--<mat-tab-group class="demo-tab-group">-->
    <!--<mat-tab label="未审核" (selectChange)="selectResolve()">-->
        <!--<form class="sticker-form" [formGroup]="searchForm">-->
            <!--<mat-form-field class="example-full-width">-->
                <!--<input matInput  type="date"  formControlName="date" (change)="searchSticker()">-->
            <!--</mat-form-field>-->
            <!--<mat-form-field class="example-full-width">-->
                <!--<input matInput  placeholder="输入素材名称" formControlName="total" (change)="searchSticker()">-->
            <!--</mat-form-field>-->
        <!--</form>-->
        <!--<div class="demo-tab-content">-->
            <!--<mat-list>-->
                <!--<mat-list-item>-->
                    <!--<ul>-->
                        <!--<li class="title"><h4 >创建日期</h4></li>-->
                        <!--<li class="date"><h4 >贴片名称</h4></li>-->
                        <!--<li class="edit"><h4 >贴片金额</h4></li>-->
                        <!--<li class="edit"><h4 >贴片持有者</h4></li>-->
                        <!--<li class="edit"><h4 >审核状态</h4></li>-->
                    <!--</ul>-->
                <!--</mat-list-item>-->
                <!--<mat-list-item *ngFor="let sticker of stickers;let i=index">-->
                    <!--<ul>-->
                        <!--<li class="title">{{sticker.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</li>-->
                        <!--<li class="date">{{sticker.materialid.name}}</li>-->
                        <!--<li class="edit">{{(sticker.total/100).toFixed(2)}}</li>-->
                        <!--<li class="edit">{{sticker.intid.nickname}}</li>-->
                        <!--<li class="edit">-->
                            <!--<button mat-raised-button color="primary" (click)="stickerVerified(i,sticker)">通过审核</button>-->
                            <!--<button mat-raised-button color="accent">不通过</button>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</mat-list-item>-->
            <!--</mat-list>-->
        <!--</div>-->
    <!--</mat-tab>-->
    <!--<mat-tab label="已审核" (selectChange)="selectReject()">-->
        <!--<div class="demo-tab-content">-->
            <!--<mat-list>-->
                <!--<mat-list-item>-->
                    <!--<ul>-->
                        <!--<li class="title"><h4 >创建日期</h4></li>-->
                        <!--<li class="date"><h4 >贴片名称</h4></li>-->
                        <!--<li class="edit"><h4 >贴片金额</h4></li>-->
                        <!--<li class="edit"><h4 >贴片持有者</h4></li>-->
                        <!--<li class="edit"><h4 >审核状态</h4></li>-->
                    <!--</ul>-->
                <!--</mat-list-item>-->
                <!--<mat-list-item *ngFor="let sticker of stickers;let i=index">-->
                    <!--<ul>-->
                        <!--<li class="title">{{sticker.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</li>-->
                        <!--<li class="date">{{sticker.materialid.name}}</li>-->
                        <!--<li class="edit">{{sticker.total}}</li>-->
                        <!--<li class="edit">{{sticker.intid.nickname}}</li>-->
                        <!--<li class="edit">-->
                            <!--&lt;!&ndash;<button mat-raised-button color="primary">通过审核</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;<button mat-raised-button color="accent">不通过</button>&ndash;&gt;-->
                            <!--<span *ngIf="sticker.verified == 1"> 已通过</span>-->
                            <!--<span *ngIf="sticker.verified == 2"> 未通过</span>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</mat-list-item>-->
            <!--</mat-list>-->
        <!--</div>-->
    <!--</mat-tab>-->
<!--</mat-tab-group>-->
<!--<sticker-page-->
<!--[verified]="verified"-->
<!--&gt;</sticker-page>-->